$color-white: #FFFFFF;
$color-black: #111111;
$color-primary: #1B5B31;
$color-secondary: #DCC1AB;
$color-background: #F5F0EC;

$font-primary: "Inter", sans-serif;
$font-heading: "Montserrat", sans-serif;

$fw-regular: 400;
$fw-medium: 500;

$fs-xs: .75rem;
$fs-sm: .875rem;
$fs-base: 1rem;
$fs-h3: 1.75rem;
$fs-h2: 2.5rem;
$fs-h1: 3rem;
$fs-display: 3.75rem;

$lh-body: 150%;
$lh-heading: 115%;
$lh-display: 70px;

$ls-small: -0.01em;

$space-xxs: .25rem;
$space-xs: .5rem;
$space-sm: 1rem;
$space-md: 1.5rem;
$space-lg: 2rem;
$space-xl: 3rem;
$space-2xl: 4rem;
$space-3xl: 6rem;
$space-4xl: 8rem;

$radius-pill: 200px;

$container-width: 1440px;